header{background: #ef6806;}

.top-bar {
  padding:0px;
  font-size: 12px;
  border-bottom: .4px solid #ef6806;
  min-height: 40px;
}

.main-header {
  padding: 20px 0 25px;
}

.site-title {
  color: #fff;
}
